.node_leash {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    pointer-events: none;
    z-index: 9;
  }
  
  .path_leash {
    display: none;
  }

  .select_leash{
    stroke-width: 2;
      stroke: rgba(189, 76, 23, 0.535);
      fill: none;
    }

    .pre_select_leash{
        stroke: rgba(34, 114, 206, 0.522);
        fill: none;
      }