.mainCard {
    height: 100%;
    padding-top: 5vh;
    background-color: #fafbfe;
    /* z-index: 10; */
  }

  .rowModule{
    margin:60px 0;
    transition: opacity 0.2s cubic-bezier(0.57, 0.13, 0.53, 0.93);
  }

  .selectedRowModule{
    box-shadow: inset 0px 20px 10px black;
  }