.node {
  transition: all 0.15s cubic-bezier(0.57, 0.13, 0.53, 0.93);
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px;
  z-index: 10;

  max-height: 90px;
  max-width: 300px;
  font-family: "Nunio", cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nodeResponse {
  /* height: 150px; */
  max-width: 300px;

  background-color: rgba(106, 168, 72, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.nodeFact {
  height: 75px;
  max-width: 200px;
  background-color: rgba(221, 209, 115, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nodeАсt {
  color: black; /*rgb(55, 64, 79);*/

  background-color: rgba(224, 50, 2, 0.5);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.nodeReq {
  height: 75px;
  max-width: 210px;

  /* background-color: rgba(144, 238, 144, 0.7); */
  background-color: rgba(53, 158, 180, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nodeHovered {
  -webkit-transform: scale(0.98);
}

.nodeSelected {
  -webkit-transform: scale(0.98);
  box-shadow: inset 5px 5px 10px rgba(87, 87, 87, 0.2);
}

.node_header_color {
  color: #646c74;
  font-size: 1em;
}
.node_text_color {
  color: #6c757d;
  font-size: 0.8em;
}

.tempButton {
  position: absolute;
  left: -28vw;
}
