.nodeResponse {
  /* height: 150px; */
  max-width: 300px;
  margin: 10px;
  background-color: rgba(0, 255, 153, 0.1);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.nodeFact {
  height: 75px;
  max-width: 200px;
  margin: 10px;
  background-color: rgba(255, 223, 0, 0.15);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nodeАсt {
  height: 75px;
  max-width: 210px;
  margin: 10px;
  /* background-color: rgba(144, 238, 144, 0.7); */
  background-color: rgba(255, 145, 97, 0.15);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nodeReq {
  height: 75px;
  max-width: 210px;
  margin: 10px;
  /* background-color: rgba(144, 238, 144, 0.7); */
  background-color: rgba(0, 204, 255, 0.15);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nodeHovered{
  scale: 1.05;
}

.nodeSelected{
  scale: 1.05;
}


.node {
  transition: all 0.2s;
  padding: 15px 10px;
}

.node_header_color {
  color: #6c757d;
  font-size: 1.1rem;
}
.node_text_color {
  color: #6c757d;
  font-size: 0.9rem;
}

