@import "styles/common.css";
@import "styles/node.css";
@import "styles/mainCard.css";
@import "styles/sideBar.css";
@import "styles/leashes.css";

* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  position: relative;
  /* width: 100vw; */
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  text-align: center;

  background-color: #fafbfe;
}


.mainCardContainer {
  background-color: tomato;
}
.cont {
  width: 100%;
}


