* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: lightcyan;
  font-family: sans-serif;
  text-align: center;
}

.mainCard {
  height: 100%;
  /* position: absolute; */
  background-color: #fafbfe;
}

.sideBar {
  height: 100%;
  padding-top: 10vh;
  /* position: absolute; */
  background-color: #313a46;
}

ul {
  padding: 0;
  list-style-type: none;
}
li {
  margin: 12px 0;
}

.barText {
  color: #8391a2;
}
.barTextAct {
  color: #fbfbfb;
}
